@charset "utf-8";
/* CSS Document */

#Store-Container {
    display: block !important;
}
.Float-Left {
    float: left;
}
.Float-Right {
    float: right;
}
.Wipe {
    clear: both;
    margin: 0 !important;
    padding: 0 0 0 10px !important;
}
.pagewidth {
    background-image: url("http://www.desireclothing.co.uk/ebay/body-x-rp-bg.gif");
    background-repeat: repeat-x;
    float: left;
    margin: 0 !important;
    min-height: 1000px;
    position: relative;
    width: 100%;
}
* html .pagewidth {
    float: none;
    position: relative;
    text-align: center;
}
.pageminwidth {
    background-image: url("http://www.desireclothing.co.uk/ebay/inner-body-bg.gif");
    background-repeat: repeat-y;
    float: left;
    left: 50%;
    margin: 0 0 0 -470px;
    min-height: 1000px;
    position: relative;
    width: 940px;
}
* html .pageminwidth {
    float: none;
    left: auto;
    margin: 0;
    position: relative;
    text-align: left;
    width: 0;
}
.pagelayout {
    background: none repeat scroll 0 0 transparent !important;
    margin: 0 0 0 10px;
    width: 920px;
}
* html .pagelayout {
    float: left;
    margin: 0 5px;
    width: 0;
}
.pagecontainer {
    background: none repeat scroll 0 0 transparent !important;
    width: 922px;
}
* html .pagecontainer {
}
.pagecontainer table {
    background-color: #FFFFFF;
}
.pagecontainer table table {
    background-color: #FFFFFF;
}
.pagecontainer table table table {
    background-color: #FFFFFF;
}
.pagecontainer table table table table {
}
.pagecontainer table table table table table {
}
.pagecontainer table table table table table table {
}
.v4acpcont {
    margin: 0 0 10px !important;
}
.v4mid {
    border: 0 none;
}
.v4mid form {
    float: left;
    position: relative;
}
.v4mid form table {
    background-image: url("http://www.desireclothing.co.uk/ebay/menu-search-bg.gif");
    border-bottom: 1px solid #D1D4D4;
    float: left;
    height: 60px;
    position: relative;
    width: 210px !important;
}
.v4mid form table td {
    padding: 0 !important;
}
.v4mid form table input {
    margin: 0 0 0 3px;
}
.v4mid form table .v4sbox {
    margin: 0 0 0 5px;
    width: 110px;
}
#LeftPanel .v4acp_head .v4accent {
    display: none;
}
#LeftPanel .v4acp_head .v4title {
    background-color: #FFFFFF !important;
    background-image: url("http://www.desireclothing.co.uk/ebay/menu-heading-bg.gif");
}
#LeftPanel .v4acp_head .v4hspacer {
    display: none;
}
.v4mid {
    padding: 0 !important;
}
.v4clp {
    border-bottom: 1px solid #D1D4D4;
}
.oc {
    float: left;
    padding: 0 !important;
    position: relative;
}
.oc UL {
    float: left;
    margin: 0 !important;
    padding: 0 !important;
    position: relative;
}
.oc UL LI {
    background-image: url("http://www.desireclothing.co.uk/ebay/page-standard.gif");
    clear: both;
    float: left;
    list-style: none outside none !important;
    margin: 0 !important;
    padding: 8px 0 8px 25px !important;
    position: relative;
    width: 185px;
}
.oc UL LI a {
    float: left;
    padding: 0 8px 0 0 !important;
    position: relative;
}
#TopPromoArea .v4acpcont .oc UL LI {
    background: none repeat scroll 0 0 transparent !important;
}
#TopPromoArea .v4clp {
    background-image: url("http://www.desireclothing.co.uk/ebay/center-gallery-bg.gif");
    background-repeat: repeat-y;
    border: 0 none !important;
}
.v4acpcont .ttl {
    background-image: url("http://www.desireclothing.co.uk/ebay/selected-standard.gif");
    float: left;
    margin: 0 !important;
    padding: 8px 0 8px 25px !important;
    position: relative;
    width: 185px;
}
.all_cats {
    background-image: url("http://www.desireclothing.co.uk/ebay/cat-standard.gif");
    border-bottom: 1px solid #D1D4D4;
    float: left;
    margin: -1px 0 0 !important;
    padding: 8px 0 8px 25px;
    position: relative;
    width: 185px;
}
.lev1 {
    border-bottom: 1px solid #D1D4D4;
}
.lcat .link {
    background-image: url("http://www.desireclothing.co.uk/ebay/cat-standard.gif");
    float: left;
    padding: 10px 0 9px 25px !important;
    position: relative;
    width: 185px;
}
.lcat .link {
    display: none;
}
.lcat .link a {
}
.lcat UL {
    float: left;
    margin: 0 !important;
    padding: 0 !important;
    position: relative;
}
.lcat UL LI {
    background-image: url("http://www.desireclothing.co.uk/ebay/cat-standard.gif");
    float: left;
    list-style: none outside none !important;
    margin: 0 !important;
    padding: 0 !important;
    position: relative;
    width: 210px;
}
.lcat UL LI a {
    float: left;
    padding: 8px 0 8px 25px;
    position: relative;
}
.lcat UL LI span {
    float: left;
    font-weight: bold;
    padding: 8px 0 8px 25px;
    position: relative;
}
.lcat UL LI .cnt {
    float: left;
    font-weight: normal;
    padding: 10px 0 0 5px !important;
    position: relative;
}
.s_recat {
    float: left;
    margin: 0 !important;
    padding: 0 !important;
    position: relative;
}
.s_recat LI {
    background-image: url("http://www.desireclothing.co.uk/ebay/cat-standard.gif");
    float: left;
    list-style: none outside none !important;
    margin: 0 !important;
    padding: 0 !important;
    position: relative;
    width: 210px;
}
.s_recat LI a {
    float: left;
    padding: 8px 0 8px 25px;
    position: relative;
}
.s_recat LI span {
    float: left;
    font-weight: normal;
    padding: 8px 0;
    position: relative;
}
.s_recat LI .cnt {
    float: left;
    font-weight: normal;
    padding: 10px 0 0 5px !important;
    position: relative;
}
.lcat UL LI UL {
    float: left;
    margin: 0 !important;
    padding: 0 !important;
    position: relative;
}
.lev2 LI {
    background-image: url("http://www.desireclothing.co.uk/ebay/subcat-standard.gif") !important;
}
.lev2 LI a {
    padding: 8px 0 8px 35px !important;
}
.lev2 LI span {
    padding: 8px 0 8px 35px !important;
}
.lcat UL LI UL LI UL {
    float: left;
    margin: 0 !important;
    padding: 0 !important;
    position: relative;
}
.lev3 LI {
    background-image: url("http://www.desireclothing.co.uk/ebay/subsubcat-standard.gif") !important;
}
.lev3 LI a {
    padding: 8px 0 8px 45px !important;
}
.lev3 LI span {
    padding: 8px 0 8px 45px !important;
}
#LeftPanel .gallery {
    float: left;
    position: relative;
}
#LeftPanel .gallery .fixed {
    background: none repeat scroll 0 0 transparent !important;
}
#LeftPanel .gallery .picture, #LeftPanel .gallery .camera {
    padding: 10px 0 5px;
}
#LeftPanel .cd .cdactive .cd-n {
    display: none;
}
#LeftPanel .cd .cdactive .cd-s {
    display: none;
}
#LeftPanel .gallery .details .subtitle {
    margin: 0 0 0 10px;
    width: 190px !important;
}
#LeftPanel .gallery .details .fixed {
    clear: both;
    margin: 10px 0 10px 10px;
}
#LeftPanel .gallery .details .fixed .basics {
    width: 190px;
}
#LeftPanel .cd .cdactive {
    padding: 0 0 10px !important;
}
#LeftPanel .v4acp tr {
    display: none;
}
#TopPromoArea .v4acp tr {
    display: none;
}
#LeftPanel .v4acp .v4acp_head {
    display: block;
    width: 195px;
}
#LeftPanel .v4acp .v4acp_head .v4title {
    display: block;
    width: 195px;
}
#TopPromoArea .v4acp .v4acp_head {
    display: block;
}
#TopPromoArea .v4acp .v4acp_head .v4title {
    display: block;
}
#TopPromoArea .v4acp_head .v4accent {
    display: none;
}
#TopPromoArea .v4acp_head .v4title {
    background-color: #FFFFFF !important;
    background-image: url("http://www.desireclothing.co.uk/ebay/center-heading-bg.gif");
}
#TopPromoArea .v4toppromos .v4acp_head {
}
#TopPromoArea .v4toppromos .v4acp_head .v4title {
    width: 327px !important;
}
#TopPromoArea .v4toppromos .v4topleft {
    width: 342px !important;
}
#TopPromoArea .v4toppromos .v4topright {
    width: 342px !important;
}
#TopPromoArea .v4toppromos table {
    background: none repeat scroll 0 0 transparent;
}
#TopPromoArea .v4toppromos .gallery {
    background-image: url("http://www.desireclothing.co.uk/ebay/center-gallery-bg.gif");
    background-repeat: repeat-y;
    height: 125px;
}
#TopPromoArea .v4toppromos .gallery .picture, #TopPromoArea .v4toppromos .gallery .camera {
    padding: 0 10px 5px 5px;
}
#TopPromoArea .v4toppromos .gallery .fixed {
    background: none repeat scroll 0 0 transparent;
    clear: both;
    width: 230px !important;
}
#TopPromoArea .v4toppromos .gallery .fixed .basics {
    width: 230px !important;
}
#TopPromoArea .v4toppromos .gallery .details .ttl {
    background: none repeat scroll 0 0 transparent;
    clear: both;
    float: left;
    margin: 0;
    padding: 0;
    position: relative;
    width: auto;
}
#TopPromoArea .v4toppromos .gallery .details .ttl img {
    clear: both;
    float: left;
    position: relative;
}
#TopPromoArea .v4toppromos .v4midBox {
    border: 0 none !important;
}
#TopPromoArea .v4toppromos .v4footd {
    background: url("http://www.desireclothing.co.uk/ebay/center-gallery-see-all-bg.gif") repeat-y scroll 0 0 transparent !important;
    border: 0 none !important;
}
#TopPromoArea .v4toppromos .cd {
    padding: 0;
}
#TopPromoArea .v4toppromos .cd .cdactive {
    background: url("http://www.desireclothing.co.uk/ebay/center-gallery-count-bg.gif") repeat scroll 0 0 transparent !important;
}
#TopPromoArea .v4toppromos .cdactive .cd-n {
    display: none;
}
#TopPromoArea .v4toppromos .cdactive .cd-s {
    display: none;
}
#TopPromoArea .v4toppromos .cdactive .cd-mid {
    height: 20px;
    padding: 7px 0 0;
}
#CentralArea .r3_cm {
    padding: 0 !important;
}
#CentralArea .rs-pview {
    padding: 10px 0 10px 5px !important;
}
#CentralArea .gallery .details .ttl {
    background: none repeat scroll 0 0 transparent;
    clear: both;
    float: left;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
}
#CentralArea .gallery .details .subtitle {
    clear: both;
    float: left;
    position: relative;
    width: 100%;
}
#CentralArea .grid {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    margin: 0 !important;
    padding: 0 !important;
}
#CentralArea .itemseparator {
    display: none;
}
#CentralArea .grid table {
    /*background-image: url("http://www.desireclothing.co.uk/ebay/gallery-item-bg.gif");
    background-repeat: no-repeat;*/
    height: 257px;
    width: 223px;
}
#CentralArea .grid .hl table {
    background-color: #FFFFFF;
}
#CentralArea .grid table table {
    background-image: none !important;
    height: auto;
    width: auto;
}
#CentralArea .grid .gallery table table {
    background: none repeat scroll 0 0 transparent !important;
}
#CentralArea .grid .gallery table table td {
    background: none repeat scroll 0 0 transparent !important;
}
#CentralArea .grid .gallery table table table {
    background: none repeat scroll 0 0 transparent !important;
}
#CentralArea .grid .gallery table table table td {
    background: none repeat scroll 0 0 transparent !important;
}
#CentralArea .grid .gallery table .basics .basics {
    padding: 5px 0 0;
    text-align: right;
    width: 200px;
}
#CentralArea .grid .gallery table .basics .basics .amount img {
    float: left;
}
#CentralArea .grid .gallery table .basics .basics .prices {
    padding: 0 0 5px;
}
#CentralArea .grid .gallery table .basics .basics .clearFullDiv span {
    padding: 0 0 0 10px;
}
#CentralArea .grid .gallery table .basics .basics .clearFullDiv .label {
    padding: 0;
}
#CentralArea .grid .gallery .details .fixed {
    clear: both;
}
#CentralArea .gallery {
    border: 0 none !important;
}
#CentralArea .gallery td {
}
#CentralArea .gallery .picture .gplus {
    display: none;
}
#CentralArea .pview, .rs-pview {
    background-color: #FFFFFF;
    padding: 10px;
}
#CentralArea .cmpb {
    margin: auto !important;
}
#CentralArea .cmpb .cmpb {
    background: none repeat scroll 0 0 transparent;
}
#CentralArea .lview .nol {
    background-image: url("http://www.desireclothing.co.uk/ebay/itemlist-item-bg.gif");
    height: 100px;
    margin: 0;
}
#CentralArea .lview .hr {
    display: none;
}
#CentralArea .lview .details {
    width: 500px !important;
}
#CentralArea .dynpg {
    background-image: url("http://www.desireclothing.co.uk/ebay/paging-bg.jpg") !important;
    padding: 12px 10px !important;
}
#CentralArea .dynpg .page {
    padding: 3px 0 0;
}
#CentralArea .v4stabl {
    padding: 30px 10px 5px 0 !important;
}
#CentralArea .dynpg table {
    background: none repeat scroll 0 0 transparent !important;
}
#CentralArea .whiter-s {
    background-image: url("http://www.desireclothing.co.uk/ebay/paging-base-bg.jpg") !important;
}
#CentralArea .dynpg form {
    margin: -2px 0 0;
}
.hdrCtr {
    background-color: #FFFFFF !important;
}
.tb_v4bc .v4sem {
    display: none;
}
.tb_v4bc {
    height: 40px;
}
.hdrCtc .pnav {
}
.dynmenu {
}
#BrowseCategories-menu {
}
#Buy-menu {
    display: none;
}
#Sell-menu {
    display: none;
}
#MyEbay-menu {
    display: none;
}
#Community-menu {
    display: none;
}
#Help-menu {
    display: none;
}
.stBadge {
    margin: 10px auto auto;
    width: 922px;
}
.stBadge .stBadge-accent {
    height: 30px;
    margin: 0 0 10px;
}
.stBadge .stBadge-accent td {
    background: none repeat scroll 0 0 transparent !important;
}
#Store-Container {
    float: left;
    height: 6px;
    position: relative;
    width: 920px;
}
#Store-Header {
    height: 140px;
    left: -1px;
    position: absolute;
    top: -130px;
    width: 922px;
}
.v4sname {
    background-color: #FFFFFF;
}
#Copyright-Box {
    height: auto;
    position: absolute;
    right: 10px;
    top: -170px;
    width: 167px;
}
#Copyright-Box p {
    float: left;
    margin: 0;
    padding: 12px 10px 0 0;
    position: relative;
}
#Copyright-Box img {
    border: 0 none;
    float: right;
    position: relative;
}
#Store-Menu {
    left: 0;
    position: absolute;
    top: 117px;
    width: 920px;
}
#Store-Menu-Left {
    float: left;
    margin: 0 0 0 10px;
    padding: 0 !important;
    position: relative;
}
* html #Store-Menu-Left {
    margin: 0 0 0 5px;
}
#Store-Menu-Left LI {
    float: left;
    list-style: none outside none;
    margin: 0 20px 0 0;
    position: relative;
}
#Store-Menu-Right {
    float: right;
    margin: 0 10px 0 0;
    position: relative;
}
* html #Store-Menu-Right {
    margin: 0 5px 0 0;
}
#Store-Menu-Right LI {
    float: left;
    list-style: none outside none;
    margin: 0 0 0 20px;
    position: relative;
}
.Menu-Promotion-Container {
    float: left;
    position: relative;
}
.Menu-Advert {
    margin: 0 0 8px !important;
}
.Header-Logo {
    border: 0 none;
    left: 0;
    position: absolute;
    top: 0;
}
#Content-Heading {
    background-image: url("http://www.desireclothing.co.uk/ebay/content-wide-header.gif");
    height: 26px;
    left: 209px;
    padding: 0 !important;
    position: absolute;
    top: 69px;
    width: 712px;
}
#Content-Heading h2 {
    left: 0;
    margin: 0;
    padding: 5px 0 0 13px;
    position: absolute;
    top: 0;
}
#TopPromoArea .v4acpcont .fs2-fs {
    margin: 10px 0 0 4px;
}
#LeftPanel .v4acpcont .fs2-fs {
    margin: 14px 0 10px 6px;
}
#LeftPanel .gallery {
    background: url("http://www.desireclothing.co.uk/ebay/menu-gallery-item-bg.gif") no-repeat scroll 0 0 transparent;
}
#LeftPanel .cd {
    background-image: url("http://www.desireclothing.co.uk/ebay/menu-gallery-count-bg.gif");
    background-repeat: no-repeat;
    float: left;
    height: 24px;
    position: relative;
    text-align: center;
    width: 210px;
}
#LeftPanel .cd .cdactive {
    background: none repeat scroll 0 0 transparent;
    position: relative;
}
#LeftPanel .cd .cd-mid {
    padding: 0;
}
#LeftPanel .gallery .ttl, #LeftPanel .gallery .g-std {
    background-image: none;
    padding: 8px 10px !important;
}
#LeftPanel .v4acpcont .v4baccent {
    display: none;
}
#LeftPanel .v4acpcont .v4midBox {
    border: 0 none !important;
}
#LeftPanel .v4acpcont .v4midBox .v4acp_mid {
    border: 0 none !important;
}
#LeftPanel .v4acpcont .v4mid {
    background: none repeat scroll 0 0 transparent;
    border: 0 none !important;
}
#LeftPanel .v4acpcont .v4footd {
    background: url("http://www.desireclothing.co.uk/ebay/menu-gallery-see-all-bg.gif") repeat scroll 0 0 transparent;
    border: 0 none !important;
    float: left;
    height: 24px;
    padding: 5px 10px 5px 0;
    position: relative;
    width: 200px;
}
#LeftPanel .v4acpcont .v4footd a {
    float: right;
    margin: 4px 0 0;
    position: relative;
}
body {
    background-color: #FFFFFF !important;
    margin: 0 !important;
    padding: 0 !important;
}
#Custom-Content-Page {
    float: left;
    margin: -10px 0 0;
    position: relative;
}
#custom-content-page {
    float: left;
    margin: -10px 0 0;
    position: relative;
}
#TopPromoArea #Custom-Content-Page {
    float: left;
    margin: -10px 0 0;
    padding: 0 0 10px;
    position: relative;
}
.Content-Wide {
    float: left;
    height: auto;
    margin: 10px 0 0;
    position: relative;
    width: 699px;
}
.Content-Wide-Base {
    float: left;
    height: 4px;
    margin: 5px 0 0;
    position: relative;
    width: 699px;
}
.Content-Wide-Header {
    background-image: url("http://www.desireclothing.co.uk/ebay/content-wide-header.gif");
    float: left;
    height: 26px;
    margin: 0 0 15px;
    position: relative;
    width: 699px;
}
.Content-Wide-Button-Container {
    float: left;
    height: auto;
    margin: 10px 0 0 10px;
    padding: 0 0 10px;
    position: relative;
    width: 699px;
}
* html .Content-Wide-Button-Container {
    margin: 10px 0 10px 5px;
}
.Content-Wide p {
    clear: both;
    margin: 0 !important;
    padding: 5px 20px 10px;
}
.Content-Wide Table {
}
.Content-Table {
    border-collapse: collapse;
    margin: 10px 20px;
}
.content-table {
    border-collapse: collapse;
    margin: 10px 20px;
}
.Content-Table-Heading {
    padding: 0 0 5px;
    width: 130px;
}
.Content-Table td select {
    border: 1px solid #BEBEBE;
    margin: 0 0 5px;
    width: 202px;
}
.Radio-Option {
    float: left;
}
#subject {
    width: 300px;
}
#message {
    border: 1px solid #BEBEBE;
    height: 100px;
    margin: 5px 0;
    width: 300px;
}
.Radio-Option {
    float: left;
}
.Text-Input {
    border: 1px solid #BEBEBE;
    height: 15px;
    margin: 0 0 5px;
    width: 200px;
}
.smallText-Input {
    border: 1px solid #BEBEBE;
    height: 15px;
    margin: 0 0 5px;
    width: 75px;
}
.Radio-Option {
}
.ContentBlock-Value select {
    border: 1px solid #BEBEBE;
    margin: 5px 0;
    width: 202px;
}
.Content-Wide UL {
    list-style: disc outside none;
    margin: 10px 20px 10px 40px;
}
.Content-Wide UL LI {
    padding: 0 0 3px;
}
.Content-Wide OL {
    list-style: decimal outside none;
    margin: 10px 20px 10px 40px;
}
.Content-Wide OL LI {
    padding: 0 0 3px;
}
.Content-Wide-Header H2 {
    float: left;
    margin: 5px 0 0 10px;
    padding: 0;
    position: relative;
}
* html .Content-Wide-Header H2 {
    margin: 5px 0 0 5px;
}
.Content-Wide H3 {
    clear: both;
    margin: 0 0 0 20px;
    padding: 0;
    position: relative;
}
.Content-Wide H4 {
    clear: both;
    margin: 0 0 0 20px;
    padding: 0;
    position: relative;
}
.Content-Wide H5 {
    clear: both;
    margin: 0 0 0 20px;
    padding: 0;
    position: relative;
}
.Content-Wide H6 {
    clear: both;
    margin: 0 0 0 20px;
    padding: 0;
    position: relative;
}
.Content-Wide-Header .More-Button {
    float: right;
    margin: 8px 20px 0 0;
    padding: 0;
    position: relative;
}
* html .Content-Wide-Header .More-Button {
    margin: 8px 10px 0 0;
}
.Content-Wide-Footer .More-Button {
    float: right;
    margin: 0 20px 0 0;
    padding: 0;
    position: relative;
}
* html .Content-Wide-Footer .More-Button {
    margin: 0 10px 0 0;
}
.Content-Wide .More-Button img {
    margin: 0 0 0 5px;
}
.Category-v4 {
    float: left;
    height: auto;
    margin: 12px 6px 0;
    position: relative;
    width: 160px;
}
* html .Category-v4 {
    margin: 12px 5px 0 6px;
}
.Category-Top-v4 {
    float: left;
    height: 4px;
    line-height: 0;
    position: relative;
    width: 160px;
}
.Category-Base-v4 {
    float: left;
    height: 4px;
    position: relative;
    width: 160px;
}
.Category-IMG-v4 {
    border: 0 none;
    clear: both;
    float: left;
    height: 123px;
    left: 1px;
    position: relative;
    width: 158px;
}
.Category-v4 .More-Button a {
    float: left;
    padding: 7px 0 0 10px;
    position: relative;
}
.Category-v4 .More-Button {
    display: block;
    float: left;
    height: 32px;
    margin: 5px 0 2px;
    position: relative;
    width: 160px;
}
.Category-v5 {
    float: left;
    height: auto;
    margin: 12px 6px 0;
    position: relative;
    width: 220px;
}
* html .Category-v5 {
    margin: 12px 5px 0 6px;
}
.Category-Top-v5 {
    float: left;
    height: 4px;
    line-height: 0;
    position: relative;
    width: 220px;
}
.Category-Base-v5 {
    float: left;
    height: 4px;
    position: relative;
    width: 220px;
}
.Category-IMG-v5 {
    border: 0 none;
    clear: both;
    float: left;
    height: 123px;
    left: 1px;
    position: relative;
    width: 218px;
}
.Category-v5 .More-Button a {
    float: left;
    padding: 7px 0 0 10px;
    position: relative;
}
.Category-v5 .More-Button {
    display: block;
    float: left;
    height: 32px;
    margin: 5px 0 2px;
    position: relative;
    width: 220px;
}
.v4acpcont .v4acp_head .v4title {
    color: #FFFFFF !important;
}
.v4acpcont .v4acp_head .v4title font {
    color: #FFFFFF !important;
}
.lcat a {
}
.lcat a:hover {
}
.lcat UL LI a {
}
.lcat UL LI a:hover {
}
.lev2 LI a {
}
.lev2 LI a:hover {
}
.lev3 LI a {
}
.lev3 LI a:hover {
}
.s_recat LI a {
}
.s_recat LI a:hover {
}
.s_recat LI span {
}
.oc UL LI a {
}
.oc UL LI a:hover {
}
#CentralArea .gallery .details a {
    color: #0D5397;
}
#CentralArea .gallery .details a:hover {
    color: #0D5397;
}
#CentralArea .gallery .details a:visited {
    color: #0D5397;
}
#CentralArea .nol .details a {
    color: #0D5397;
}
#CentralArea .nol .details a:hover {
    color: #0D5397;
}
#CentralArea .nol .details a:visited {
    color: #0D5397;
}
#CentralArea .cmpb td a {
    color: #0D5397;
}
#CentralArea .cmpb td a:hover {
    color: #0D5397;
}
#CentralArea .bpmsg .lnk a {
    color: #0D5397;
}
#CentralArea .bpmsg .lnk a:hover {
    color: #0D5397;
}
.v4snexp UL LI a {
    color: #0D5397;
}
.v4snexp UL LI a:hover {
    color: #0D5397;
}
#CentralArea .dynpg {
    color: #000000;
}
#CentralArea .dynpg .pager {
    color: #000000;
}
#CentralArea .dynpg .pager a {
    color: #0D5397;
}
#CentralArea .dynpg .pager a:hover {
    color: #0D5397;
}
#CentralArea .dynpg .disabled {
    color: #000000;
}
#Copyright-Box p {
    color: #0D5398;
}
#storercp {
}
#storercp a {
}
#storercp a:hover {
}
#storercp .stBadge-text {
}
#storercp .mbg a {
}
#storercp .mbg a:hover {
}
#Store-Header {
}
#Store-Header #Store-Menu-Left a {
    color: #0D5397;
}
#Store-Header #Store-Menu-Left a:hover {
    color: #0D5397;
}
#Store-Header #Store-Menu-Right a {
    color: #0D5397;
}
#Store-Header #Store-Menu-Right a:hover {
    color: #0D5397;
}
#Content-Heading h2 {
    color: #FFFFFF;
}
#CentralArea .v4stabl {
}
#CentralArea .v4stabl a {
    color: #0D5397;
}
#CentralArea .v4stabl a:hover {
    color: #0D5397;
}
#CentralArea .fpcc .countClass {
}
#CentralArea .fpcc .matchClass {
}
#CentralArea .fpcc .keywordClass {
}
#CentralArea .cmpBr {
}
#CentralArea .cmpBr a {
}
#CentralArea .cmpBr a:hover {
}
#CentralArea .ctrlbr {
}
#CentralArea .ctrlbr a {
}
#CentralArea .ctrlbr a:hover {
}
#LeftPanel .v4acpcont .gallery a {
    color: #0D5397;
}
#LeftPanel .v4acpcont .gallery a:hover {
    color: #0D5397;
}
#LeftPanel .v4acpcont .v4footd a {
    color: #0D5397;
}
#LeftPanel .v4acpcont .v4footd a:hover {
    color: #0D5397;
}
#LeftPanel .v4acpcont .v4footd a {
}
#LeftPanel .v4acpcont .v4footd a:hover {
}
#TopPromoArea .v4acpcont .gallery a {
    color: #0D5397;
}
#TopPromoArea .v4acpcont .gallery a:hover {
    color: #0D5397;
}
#TopPromoArea .v4acpcont .v4footd a {
    color: #0D5397;
}
#TopPromoArea .v4acpcont .v4footd a:hover {
    color: #0D5397;
}
#LeftPanel .cdoringe {
}
#LeftPanel .cdtimeunit {
}
#TopPromoArea .cdoringe {
}
#TopPromoArea .cdtimeunit {
}
.Content-Wide-Header h2 {
    color: #FFFFFF;
}
.Content-Wide .Content-Wide-Header .More-Button a {
    color: #FFFFFF;
}
.Content-Wide .Content-Wide-Header .More-Button a:hover {
    color: #FFFFFF;
}
.Content-Wide .Content-Wide-Footer .More-Button a {
    color: #FFFFFF;
}
.Content-Wide .Content-Wide-Footer .More-Button a:hover {
    color: #FFFFFF;
}
.Content-Wide a {
    color: #2253B8;
}
.Content-Wide a:hover {
    color: #0672EC;
}
.Content-Wide p a {
    color: #2253B8;
}
.Content-Wide p a:hover {
    color: #0672EC;
}
.Content-Wide Table a {
    color: #2253B8;
}
.Content-Wide Table a:hover {
    color: #0672EC;
}
.Content-Wide UL LI a {
    color: #2253B8;
}
.Content-Wide UL LI a:hover {
    color: #0672EC;
}
.Content-Wide OL LI a {
    color: #2253B8;
}
.Content-Wide OL LI a:hover {
    color: #0672EC;
}
.Category-v4 .More-Button a {
    color: #FFFFFF;
}
.Category-v4 .More-Button a:hover {
    color: #2258C6;
}
.Category-v5 .More-Button a {
    color: #FFFFFF;
}
.Category-v5 .More-Button a:hover {
    color: #2258C6;
}
.v4acpcont .v4acp_head .v4title font {
    font-size: 1em;
}
#Content-Heading h2 {
    font-family: verdana,tahoma,arial;
    font-size: 13px;
}
#CentralArea .gallery .details a {
}
#CentralArea .gallery .details a:hover {
}
#Copyright-Box p {
    font-size: 11px;
    font-weight: bold;
}
.Content-Wide .More-Button {
    font-size: 0.7em;
    font-weight: normal;
    text-align: right;
}
.Content-Wide .More-Button a {
    text-decoration: none;
}
.Content-Wide H2 {
    font-family: verdana,tahoma,arial;
    font-size: 1em;
}
.Content-Wide H3 {
    font-size: 1em;
}
.Content-Wide H4 {
    font-size: 1em;
}
.Content-Wide H5 {
    font-size: 1.2em;
}
.Content-Wide H6 {
    font-size: 1.4em;
}
.Content-Wide p {
    font-size: 1em;
}
.Content-Wide p a {
    text-decoration: none;
}
.Content-Wide Table {
    font-size: 1em;
}
.Content-Wide Table th {
    text-align: left;
}
.Content-Wide Table td {
    vertical-align: top;
}
.Content-Table-Heading {
    font-weight: normal;
}
.Content-Wide Table p {
    font-size: 1em;
}
.Content-Wide Table a {
    text-decoration: none;
}
.Content-Wide UL {
    font-size: 1em;
}
.Content-Wide UL LI {
    line-height: 1em;
    text-align: justify;
}
.Content-Wide UL LI a {
    text-decoration: none;
}
.Content-Wide UL LI p {
    font-size: 1em;
}
.Content-Wide OL {
    font-size: 1em;
}
.Content-Wide OL LI {
    line-height: 1em;
    text-align: justify;
}
.Content-Wide OL LI a {
    text-decoration: none;
}
.Content-Wide OL LI p {
    font-size: 1em;
}
.Content-Wide-Header h2 {
    font-weight: bold;
}
.Category-v4 H2 {
    font-size: 1em;
}
.Category-v4 .More-Button {
    font-size: 1em;
    font-weight: bold;
    text-align: right;
}
.Category-v4 .More-Button a {
    text-decoration: none;
}
.Category-v5 H2 {
    font-size: 1em;
}
.Category-v5 .More-Button {
    font-size: 1em;
    font-weight: bold;
    text-align: right;
}
.Category-v5 .More-Button a {
    text-decoration: none;
}
/*body {
    background-image: url("http://www.desireclothing.co.uk/ebay/body-background-rp.jpg");
    background-position: 0 130px;
    background-repeat: repeat-x;
}*/
.pagewidth {
}
#TopPromoArea {
    background-image: url("http://www.desireclothing.co.uk/ebay/central-bg.gif");
    background-repeat: repeat-y;
}
#CentralArea .v4stabl {
    background-image: url("http://www.desireclothing.co.uk/ebay/central-bg.gif");
    background-repeat: repeat-y;
}
.v4topleft {
    padding: 15px 0 0;
}
.v4topright {
    padding: 15px 0 0 !important;
}
.v4topright .v4acpcont {
    background: none repeat scroll 0 0 transparent !important;
}
.pageminwidth {
    background: none repeat scroll 0 0 transparent;
}
.pagecontainer {
}
.logobar {
    padding: 0 10px;
}
.g-pipe {
    padding: 0 0 0 10px;
}
.coreFooterLegalNotice {
    padding: 0 0 0 10px;
}
.tb_v4bc .bbc-in {
    margin: 0 0 0 10px;
}
.pnav {
    right: 10px !important;
}
.dynmenu {
}
#Buy-menu {
    left: 691px !important;
}
#Sell-menu {
    left: 693px !important;
}
#MyEbay-menu {
    left: 729px !important;
}
#Community-menu {
    left: 794px !important;
}
#Help-menu {
    left: 800px !important;
}
#Store-Header {
	background-image: url("http://www.desireclothing.co.uk/ebay/store-header.gif");
background-position: 0 20px;
background-repeat: no-repeat;
height: 185px;
margin-top: 20px;
/*top: -110px;*/
width: 944px;
}
#Store-Container {
    height: 80px;
}
.stBadge {
    margin: 0;
}
.stBadge-accent {
    display: none;
}
#Content-Heading {
    height: 26px;
    left: 208px;
    top: 96px;
    width: 713px;
	display:none;
}
.Content-Wide {
    margin: -37px 0 0;
}
#background-panel-left {
    background-image: url("http://www.desireclothing.co.uk/ebay/bg-panel-left.jpg");
    background-repeat: no-repeat;
    height: 844px;
    left: -175px;
    position: absolute;
    top: -320px;
    width: 160px;
}
#background-panel-right {
    background-image: url("http://www.desireclothing.co.uk/ebay/bg-panel-right.jpg");
    background-repeat: no-repeat;
    height: 844px;
    left: 935px;
    position: absolute;
    top: -320px;
    width: 160px;
}
#LeftPanel .gallery {
    background-image: url("http://www.desireclothing.co.uk/ebay/menu-gallery-item-bg.gif") !important;
    height: 257px;
}
#homepage {
  float: left;
  padding: 0;
  position: relative;
}
#homepage .Advert {
    border: 0 none;
    float: left;
    position: relative;
}
#Store-Links {
    position: absolute;
    top: 111px;
    width: 922px;
}
#Store-Links UL {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
#Store-Links UL LI {
    float: left;
    padding: 0 15px;
    position: relative;
}
#Store-Links UL LI a {
    font-size: 12px;
}
#Store-Links UL LI a {
    color: #333333;
}
#Store-Links UL LI a:hover {
    color: #333333;
}
#header-search {
  left: 350px;
  position: absolute;
  top: 58px;
}
#header-search table {
    background: none repeat scroll 0 0 transparent;
}
#header-search p {
    color: #FFFFFF;
    font-size: 15px !important;
    font-weight: bold;
    padding: 0 10px 0 0;
    width: 100px;
}
#search-query-header {
    border-color: #BEBEBE #333333 #BEBEBE #BEBEBE;
    border-left: 1px solid #BEBEBE;
    border-right: 1px solid #333333;
    border-style: solid;
    border-width: 1px;
    color: #333333;
    height: 17px;
    margin: 0;
    padding: 2px 5px;
    width: 185px;
}
#Search-Submit-Header {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: url("http://www.desireclothing.co.uk/ebay/find-button.gif") !important;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    border: 0 none;
    cursor: pointer;
    height: 23px;
    margin: 0;
    padding: 0;
    width: 58px;
}
#Copyright-Box {
    display: none;
    top: -150px;
}
.Header-Logo {
    left: 11px;
    top: 0;
}
#Store-Menu {
  background-color: #FFFFFF;
  padding: 0;
  position: absolute;
  text-align: left;
  top: 7px;
  width: 930px;
}
.v4acpcont {
    margin: 0 !important;
}
.v4acpcont .v4midBox {
    background-image: url("http://www.desireclothing.co.uk/ebay/midbox-bg.gif") !important;
    background-repeat: repeat-y;
}
.v4clp {
    border: 0 none;
}
.lev1 {
    border: 0 none;
}
#Store-TopCats-Left {
    float: left;
    list-style: none outside none;
}
#Store-TopCats-Left LI {
    float: left;
    margin: 0;
    padding: 0 10px 0 0;
}
#Store-Menu #Store-TopCats-Left {
    margin: 0 0 0 -30px;
}
#Store-Menu #Store-TopCats-Left LI a {
    color: #000000 !important;
}
#Store-Menu #Store-TopCats-Left LI a:hover {
    color: #000000 !important;
}
#Store-Menu #Store-TopCats-Left LI a {
    font-weight: normal;
}
#Store-Header #Store-Menu-Left LI {
    margin: 0 15px 0 0;
    padding: 12px 0 0;
}
#Content-Heading #Store-Menu-Right LI {
    padding: 10px 0 0;
}
#LeftPanel {
    background-image: url("http://www.desireclothing.co.uk/ebay/leftpanel.gif") !important;
    background-repeat: repeat-y;
}
#LeftPanel .v4mid {
    background-image: url("http://www.desireclothing.co.uk/ebay/v4midBox.gif") !important;
    background-repeat: no-repeat !important;
}
#LeftPanel .v4mid table {
    background: none repeat scroll 0 0 transparent;
}
.lcat .ttl {
    padding: 5px 15px 5px 10px !important;
}
.lcat UL LI .cnt {
    padding: 7px 0 5px 5px !important;
}
.lcat UL LI a {
    padding: 5px 0 5px 10px;
}
.lev1 LI span {
    padding: 5px 0 5px 10px !important;
}
.lev2 LI a {
    background-image: url("http://www.desireclothing.co.uk/ebay/subcat-standard.gif");
    padding: 7px 0 5px 20px !important;
}
.lev2 LI span {
    padding: 7px 0 5px 20px !important;
}
.lev3 LI a {
    background-image: url("http://www.desireclothing.co.uk/ebay/subsubcat-standard.gif");
    padding: 5px 0 5px 30px !important;
}
.lev3 LI span {
    padding: 5px 0 5px 30px !important;
}
.oc UL LI {
    padding: 5px 15px 5px 10px !important;
}
.s_recat LI a {
    padding: 5px 0 5px 10px !important;
}
.s_recat LI span {
    padding: 5px 0 5px 10px !important;
}
.all_cats {
    padding: 5px 0 5px 10px !important;
}
#CentralArea .grid table {
    width: 223px;
}
#TopPromoArea {
    margin: 0 !important;
}
#TopPromoArea .v4toppromos .gallery .picture, #TopPromoArea .v4toppromos .gallery .camera {
    padding: 10px 10px 5px;
}
#TopPromoArea .v4toppromos .gallery .fixed {
    width: 210px !important;
}
#TopPromoArea .v4toppromos .gallery .fixed .basics {
    width: 210px !important;
}
#TopPromoArea .v4toppromos .gallery .details .ttl {
    padding: 20px 0 0 !important;
}
#Content-Heading h2 {
    padding: 5px 0 0 15px;
}
.v4acpcont .v4acp_head .v4title {
    padding: 5px 5px 5px 10px !important;
}
#CentralArea .v4stabl {
    padding: 10px 10px 5px 0 !important;
}
#LeftPanel .v4acpcont .v4footd {
    display: none;
}
.Content-Wide-Header h2 {
    margin: 5px 0 0;
}
.Content-Wide h3 {
    margin: 0 0 10px;
}
.Content-Wide p {
    padding: 0 0 10px;
}
#Store-Categories {
  left: 0;
  position: absolute;
  top: 95px;
  width: 750px;
  overflow: hidden;
}
#Store-Cat {
    margin: 0 0 0 20px;
    padding: 0;
}
#Store-Cat li {
	float: left;
	list-style: none outside none;
	padding: 0 3px 0 0;
}
#Store-Cat li img {
    border: 0 none;
}
#Flash-Container {
    float: left;
    position: relative;
    width: 477px;
}
#Advert-Container {
    float: right;
    padding: 0 0 0 10px;
    position: relative;
    width: 200px;
}
#Advert-Container a {
    float: right;
    margin: 0 0 6px;
    padding: 0;
    position: relative;
}
.v4acpcont .v4acp_head .v4title {
    color: #FFFFFF !important;
}
.v4acpcont .v4acp_head .v4title font {
    color: #FFFFFF !important;
}
.lcat .ttl {
    color: #000000;
}
.lcat .cnt {
    color: #D1597F !important;
}
.lcat a {
    color: #1F1F1F;
}
.lcat a:hover {
    color: #1F1F1F;
}
.lev1 span {
    color: #000000;
}
.lev1 .cnt {
    color: #D1597F !important;
}
.lcat UL LI a {
    color: #1F1F1F;
}
.lcat UL LI a:hover {
    color: #1F1F1F;
}
.lev2 span {
    color: #000000;
}
.lev2 LI .cnt {
    color: #D1597F !important;
}
.lev2 LI a {
    color: #9B7873 !important;
}
.lev2 LI a:hover {
    color: #9B7873 !important;
}
.lev3 span {
    color: #000000;
}
.lev3 LI .cnt {
    color: #D1597F !important;
}
.lev3 LI a {
    color: #9B7873 !important;
}
.lev3 LI a:hover {
    color: #9B7873 !important;
}
.s_recat LI .cnt {
    color: #D1597F !important;
}
.s_recat LI a {
    color: #9B7873;
}
.s_recat LI a:hover {
    color: #9B7873;
}
.oc UL LI span {
    color: #000000;
}
.oc UL LI .cnt {
    color: #D1597F;
}
.oc UL LI a {
    color: #1F1F1F;
}
.oc UL LI a:hover {
    color: #1F1F1F;
}
#CentralArea .gallery .details a {
    color: #1A1A1A;
}
#CentralArea .gallery .details a:hover {
    color: #1A1A1A;
}
#CentralArea .gallery .details a:visited {
    color: #1A1A1A;
}
#CentralArea .nol .details a {
    color: #D1597F;
}
#CentralArea .nol .details a:hover {
    color: #D1597F;
}
#CentralArea .nol .details a:visited {
    color: #D1597F;
}
#CentralArea .cmpb td a {
    color: #D1597F;
}
#CentralArea .cmpb td a:hover {
    color: #D1597F;
}
#CentralArea .bpmsg .lnk a {
    color: #D1597F;
}
#CentralArea .bpmsg .lnk a:hover {
    color: #D1597F;
}
.v4snexp UL LI a {
    color: #D1597F;
}
.v4snexp UL LI a:hover {
    color: #D1597F;
}
#CentralArea .dynpg {
    color: #333333;
}
#CentralArea .dynpg .pager {
    color: #333333;
}
#CentralArea .dynpg .pager a {
    color: #D1597F;
}
#CentralArea .dynpg .pager a:hover {
    color: #D1597F;
}
#CentralArea .dynpg .disabled {
    color: #919191 !important;
}
#Copyright-Box p {
    color: #0D5398;
}
#storercp {
}
#storercp a {
}
#storercp a:hover {
}
#storercp .stBadge-text {
}
#storercp .mbg a {
}
#storercp .mbg a:hover {
}
#Store-Header {
}
#Store-Header #Store-Menu-Left a {
    color: #898989;
}
#Store-Header #Store-Menu-Left a:hover {
    color: #898989;
}
#Store-Header #Store-Menu-Right a {
    color: #898989;
}
#Store-Header #Store-Menu-Right a:hover {
    color: #898989;
}
#Content-Heading #Store-Menu-Right a {
    color: #505E83;
}
#Content-Heading #Store-Menu-Right a:hover {
    color: #505E83;
}
#CentralArea .v4stabl {
}
#CentralArea .v4stabl a {
    color: #D1597F;
}
#CentralArea .v4stabl a:hover {
    color: #D1597F;
}
#CentralArea .fpcc .countClass {
}
#CentralArea .fpcc .matchClass {
}
#CentralArea .fpcc .keywordClass {
}
#CentralArea .cmpBr {
    color: #333333;
}
#CentralArea .cmpBr a {
    color: #D1597F;
}
#CentralArea .cmpBr a:hover {
    color: #D1597F;
}
#CentralArea .ctrlbr {
    color: #333333;
}
#CentralArea .ctrlbr .cur {
    color: #333333;
}
#CentralArea .ctrlbr a {
}
#CentralArea .ctrlbr a:hover {
}
#LeftPanel .v4acpcont .gallery a {
    color: #1A1A1A;
}
#LeftPanel .v4acpcont .gallery a:hover {
    color: #1A1A1A;
}
#LeftPanel .v4acpcont .v4footd a {
    color: #D1597F;
}
#LeftPanel .v4acpcont .v4footd a:hover {
    color: #D1597F;
}
#TopPromoArea .v4acpcont .gallery a {
    color: #1A1A1A;
}
#TopPromoArea .v4acpcont .gallery a:hover {
    color: #1A1A1A;
}
#TopPromoArea .v4acpcont .v4footd a {
    color: #D1597F;
}
#TopPromoArea .v4acpcont .v4footd a:hover {
    color: #D1597F;
}
#LeftPanel .cdoringe {
}
#LeftPanel .cdtimeunit {
}
#TopPromoArea .cdoringe {
}
#TopPromoArea .cdtimeunit {
}
#Content-Heading h2 {
    color: #FFFFFF;
}
.Content-Wide-Header h2 {
    color: #FFFFFF;
}
.Content-Wide .Content-Wide-Header .More-Button a {
    color: #FFFFFF;
}
.Content-Wide .Content-Wide-Header .More-Button a:hover {
    color: #FFFFFF;
}
.Content-Wide .Content-Wide-Footer .More-Button a {
    color: #FFFFFF;
}
.Content-Wide .Content-Wide-Footer .More-Button a:hover {
    color: #FFFFFF;
}
.Content-Wide a {
    color: #CD1C1C;
}
.Content-Wide a:hover {
    color: #CD1C1C;
}
.Content-Wide p a {
    color: #CD1C1C;
}
.Content-Wide p a:hover {
    color: #CD1C1C;
}
.Content-Wide Table a {
    color: #CD1C1C;
}
.Content-Wide Table a:hover {
    color: #CD1C1C;
}
.Content-Wide UL LI a {
    color: #CD1C1C;
}
.Content-Wide UL LI a:hover {
    color: #CD1C1C;
}
.Content-Wide OL LI a {
    color: #CD1C1C;
}
.Content-Wide OL LI a:hover {
    color: #CD1C1C;
}
.Category-v4 .More-Button a {
    color: #FFFFFF;
}
.Category-v4 .More-Button a:hover {
    color: #F5FDCA;
}
.Category-v5 .More-Button a {
    color: #FFFFFF;
}
.Category-v5 .More-Button a:hover {
    color: #F5FDCA;
}
.Category-v5 img {
    height: auto;
}
#Store-Menu UL LI a {
    color: #898989 !important;
}
#Store-Menu UL LI a:hover {
    color: #898989 !important;
}
#Store-Menu UL .pink a {
    color: #D1597F !important;
}
#Store-Menu UL .pink a:hover {
    color: #D1597F !important;
}
#TopPromoArea .v4acpcont .gallery a {
    color: #505E83;
}
#TopPromoArea .v4acpcont .gallery a:hover {
    color: #505E83;
}
#TopPromoArea .v4acpcont .v4footd a {
    color: #E31D1D;
}
#TopPromoArea .v4acpcont .v4footd a:hover {
    color: #E31D1D;
}
#LeftPanel .cdoringe {
}
#LeftPanel .cdtimeunit {
}
#CustomPromoBoxes .cdoringe {
}
#CustomPromoBoxes .cdtimeunit {
}
.Content-Wide h3 {
    color: #333333;
}
.Content-Wide p {
    color: #424242;
}
#LeftPanel .v4acpcont .v4footd a {
    font-weight: bold;
}
#TopPromoArea .v4acpcont .v4footd a {
    font-weight: bold;
}
.Content-Wide-Header h2 {
    font-family: arial,helvetica,sans-serif;
}
#Store-Container {
    font-size: 11px;
}
#Store-Menu UL LI a {
  font-family: Arial;
  font-size: 12px !important;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}
#Store-Menu UL LI a:hover {
    text-decoration: none;
}
#Content-Heading UL LI a {
    font-size: 13px;
    font-weight: bold;
}
#Store-Menu UL LI a:nth-of-type(1) {
    font-size: 11px !important;
}
#menu-header table td {
    font-size: 11px;
}
#Store-Header #Store-Menu-Right a:hover {
    text-decoration: underline;
}
#search-query-header {
    font-size: 12px;
}
.lcat .ttl {
    font-weight: bold;
}
.lcat .cnt {
    font-weight: normal;
}
.lev1 span {
    font-weight: normal;
}
.lcat a {
    font-size: 12px;
    font-weight: normal;
}
.lev1 LI span {
    font-weight: normal;
}
.lcat UL LI a {
    font-weight: normal;
}
.lev2 LI span {
    font-weight: normal;
}
.lev2 LI a {
    font-weight: normal;
}
.lev3 LI span {
    font-weight: normal;
}
.lev3 LI a {
    font-weight: normal;
}
.s_recat LI span {
    font-weight: normal;
}
.s_recat LI a {
    font-weight: normal;
}
#Content-Heading h2 {
    font-family: arial,helvetica,sans-serif;
}
/*New*/
ul#Store-Cat a, ul#Store-Cat li a {
  background-color: #FFFFFF;
  color: #000000;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 12px;
  font-weight: normal;
  height: 12px;
  letter-spacing: 0.02em;
  line-height: 19px;
  margin: 0 13px;
  padding: 0 0 3px;
  text-decoration: none;
  text-transform: uppercase;
}
ul#Store-Cat li a:hover {
	text-decoration:underline;
	}
#Store-Container #makespace {
	height: 300px;
}
div#Store-Container div#Store-Header div#Store-Categories ul#Store-Cat li.home a {
  background-image: url("http://www.desireclothing.co.uk/ebay/home.png");
  background-repeat: no-repeat;
  display: block;
  left: -5px;
  margin-left: 0;
  margin-right: 0;
  position: relative;
  text-indent: -999px;
  width: 20px;
}
div#Store-Container div#Store-Header div#sn-icons {
  left: 630px;
  position: absolute;
  top: 48px;
  width: 100px;
}
div#Store-Container div#Store-Header div#sn-icons div#fblike {
  float: left;
  margin-right: 7px;
  margin-top: 1px;
}
div#Store-Container div#Store-Header div#sn-icons div#twitterfollow {}
